:global(#root) {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 88px minmax(auto, 1fr) minmax(30px, auto);
  grid-template-columns: 1fr;
  height: 100vh;
  height: 100lvh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.4rem 1.8rem;
}

.footer {
  grid-area: footer;
}
