.root {
  padding: 1rem 1.2rem;
  flex: 1;
  width: 100%;
  overflow: scroll;
  list-style-type: none;
  margin: 0;
}

.item {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  border-bottom: 1px dashed transparent;
  padding-bottom: 1rem;
}

.item:not(:last-of-type) {
  border-bottom-color: black;
}

.title {
  max-width: 50%;
}

.answer {
  flex: 1;
  text-align: center;
}

.result {
  flex-shrink: 0;
  justify-self: flex-end;
}

.result.correct {
  color: green;
}

.result.incorrect {
  color: tomato;
}
