.root {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.label {
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--typo-label-color);
}

.body,
.body2 {
  color: var(--typo-body-color);
}

.body {
  font-size: 1rem;
  line-height: 1.3;
}

.body2 {
  font-size: 0.85rem;
  line-height: 1.2;
}

.title,
.title3 {
  color: var(--typo-title-color);
  line-height: 1.3;
}

.title {
  font-size: 2.4rem;
}

.title3 {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
}

.root.color-main {
  color: var(--main-color);
}
